# 4LOG Environment Variables
# Copy this file to .env and insert your deployed Google Apps Script Web App URL:
VITE_GOOGLE_SHEETS_ENDPOINT=https://script.google.com/macros/s/AKfycbzDctYX75kfJO9fmUQ2tnw7NTGrxkAgqBWD-rJ1-g9zocxl7g0gXShhAOjzo8fVXmkI/exec
